.section__imageAbout {
    margin: 0px 0px 0 15px;
    max-height: 335px;
    float: right;
}

.section__galleryPhotos {
    margin: 0px 0px 0 0;
    max-height: 297px;
}

.section__bucketList {
    color: #7c73e6;
    font-weight: 1000;
}

.section__recommendationsList {
    padding: 15px 0px;
}

.section__recommendationsList--space {
    padding-top: 15px;
}
